<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <section class="page houses">
        <h2 class="visually-hidden">Houses</h1>
        <header>
            <h1>Houses</h2>
            <button aria-label="Plus"><img src="img/ic_plus_grey@3x.png" alt="Plus button"></button>
        </header>
        <form class="search-bar" action="">
            <label for="site-search"></label>
            <input type="search" id="site-search" name="housing" placeholder="Search housing">
        </form>
        <div>
            <button>Price</button>
            <button>Size</button>
        </div>
        <section class="houses-list">
            <h2 class="visually-hidden">Houses list</h2>
            <article>
                <h3>Stokvisstraat 132</h3>
                <p>€ 500.000</p>
                <p>1011AA Amsterdam</p>
                <ul>
                    <li><img src="img/ic_bed@3x.png" alt="Bedroom">1</li>
                    <li><img src="img/ic_bath@3x.png" alt="Bathroom">1</li>
                    <li><img src="img/ic_size@3x.png" alt="Size">120 m2</li>
                </ul>
                <img class="placeholder-img" src="img/img_placeholder_house@3x.png" alt="Placeholder house">
            </article>
        </section>
    </section>

    <nav class="mobile-nav">
        <button><img src="img/ic_mobile_navigarion_home_active@3x.png" alt="Active home button"></button>
        <button><img src="img/ic_mobile_navigarion_info@3x.png" alt="Information button"></button>
    </nav>

    <script type="module" src="js/main.js"></script>
</body>
</html>