.mobile-nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: $background-2;
    box-shadow: 0px 0px 50px rgba($secondary, 0.3);

    button {
        background: none;
        border: none;
    }

    img {
        height: 30px;
    }
}