@import "./variables";
@import "./breakpoints";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    background-color: $background-1;
}

